<div class="left_side" id="left_side_div">
  <%= image_tag url_for(@user.avatar), width: '100px' %>
  <br>
  @<%= @user.username %>
  <br>
  <%= @user.full_name %>
  <br>
  <%= @user.location %>
  <br>
  <br>
  <%= @user.bio %>
  <br>
  <br>
  <% unless @user == current_user %>
    <% if current_user.following.include?(@user.id) %>
      <%= link_to "Unfollow", unfollow_url(id: @user.id), class: 'btn btn-danger', id: 'unfollow_btn' %>
      <%= link_to "Follow", follow_url(id: @user.id), class: 'btn btn-primary', id: 'follow_btn', style: "display: none;"%>
    <% else %>
      <%= link_to "Follow", follow_url(id: @user.id), class: 'btn btn-primary', id: 'follow_btn'%>
      <%= link_to "Unfollow", unfollow_url(id: @user.id), class: 'btn btn-danger', id: 'unfollow_btn', style: "display: none;" %>
    <% end %>
  <% end %>
</div>

<div class="right_side">
  <% if current_user == @user %>
    <%= form_for @message do |f|  %>
      <div class="field">
        <%= f.label :body %><br />
        <%= f.text_area :body %>
      </div>
      <div class="field">
        <%= f.submit "Send Message", class: 'btn btn-primary float-right', id: 'create_tweet_btn' %>
      </div>
    <% end %>
  <% end %>
  <br><br><br>
  <% @messages.each do |message| %>
    <div class="tweet">
      <%= image_tag url_for(message.user.avatar), width: '20px' %>
      <p class="tweet-body"><%= message.body %></p>
      <p class="tweet-date">Posted: <%= time_ago_in_words(message.created_at) %> ago</p>
    </div>
  <% end %>
</div>
